#navbar {
    box-shadow: none;
}

body {
    display: grid;
    grid-template-columns: [colOne] 15% [colTwo] auto [colThree] auto [colFour] auto [colFive] auto [colSix] auto;
    grid-template-rows: [rowOne] auto [rowTwo] auto [rowThree] auto [rowFour] auto [rowFive] auto [rowSix] auto [rowSeven] auto [rowEight] auto;
    overflow-x: hidden;
    width: 100vw;

}

#nav-tab {
    grid-column-start: colOne;
    grid-column-end: end;

}

#nav-home-tab,
#nav-profile-tab {
    width: 50%;
}

#navbar {
    grid-column-end: end;
    grid-column-start: colOne;
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
}

#profileHeader {
    grid-row-start: rowTwo;
    grid-row-end: rowFour;
    padding: 3%;
}

#pfp {
    background-color: aquamarine;
    padding: 0;
    border-radius: 50%;
    display: inline;
}

#pfp img {
    margin: 20px;
    border-radius: 50%;
    float: left;
}

#text {
    margin-top: 5%;
    float: left;
    width: 50%;
}

#text>* {
    margin: 0;
}

#text p {
    padding-top: 30px;
    font-size: .8em;
}

#navbar {
    background: linear-gradient(rgba(202, 152, 251, 1) 35%, rgba(202, 152, 251, 1) 100%);
}

#bottomNav svg {
    width: 45px;
    height: 45px;
    color: black;
}

.navbar-brand {
    margin: auto;
}

#navbar-logo {
    width: 20vw;
}

.mapPointer {
    width: 80px;
    height: 80px;
    transform: translateY(60px);
    margin-left: 20px;
}

.location {
    font-size: 30px;
    transform: translateX(100px);
    font-weight: bold;
    margin-bottom: 20px;
}

.Bell {
    width: 80px;
    height: 80px;
    transform: translateY(30px);
}

#posts-container {
    grid-column-start: colOne;
    grid-column-end: end;
    display: grid;
    grid-template-columns: 10% 80% 10%;

}

#posts-go-here {
    grid-column: 2;
}

.post-card {
    border-radius: 50px;
    width: 60vw;
    grid-column-start: colTwo;
    grid-column-end: colSix;
    justify-self: center;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(10, 0.1fr);
    grid-template-columns: repeat(4, 1fr);
    z-index: 0;
}

.post-topbar {
    background-color: rgba(0, 0, 0, 0.5);
    /* Red with 50% transparency */
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
    z-index: 2;
    border-radius: 50px 50px 0 0;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: minmax(5px, auto);
    grid-template-areas:
        ". ."
        ". title"
        ". location";
}

.post-bottombar {
    background-color: lightgray;
    grid-row: 9/ span 10;
    grid-column: 1 / span 4;
    border-radius: 0 0 50px 50px;
    z-index: 2;
    display: grid;
    grid-template-columns: 12% 76% 6% 6%;
    grid-template-rows: 1fr;
    padding: 0 10px 0 10px;
}

.profileIcon {
    grid-column: 1;
    width: 100%;
    grid-row: 1;
}

.post-title {
    grid-area: title;
    font-weight: bold;
    font-size: 1.5em;
}

.post-location {
    grid-area: location;
    font-size: 0.5em;
}

.post-time {
    font-size: 1em;
    grid-column: 2;
    grid-row: 1;
    margin-top: 5%;
}

.post-user {
    grid-column: 2;
    grid-row: 1;
    margin-top: 1%;
}

.post-like {
    width: 100%;
    grid-column: 3;
    vertical-align: middle;
    grid-row: 1;
    cursor: pointer;
}

.post-kebab {
    width: 120%;
    grid-row: 1;
    vertical-align: top;
    grid-column: 4;


}

.mapicon2 {
    width: 1em;
    height: 1em;
    ;
    margin: auto;
    vertical-align: middle;
}

.post-topbar p {

    color: white;
    margin: 0;
}

.post-picture {
    grid-row: 1 / span 8;
    grid-column: 1 / span 4;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;


}

.navbar.bg-body-tertiary {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(rgba(202, 152, 251, 1) 35%, rgba(202, 152, 251, 1) 100%);
}

@media only screen and (max-width: 700px) {
    #pfp {
        height: 110px;
        width: 110px;
    }

    #pfp img {
        max-width: 110px;
        max-height: 100px
    }

    #profileHeader {
        grid-column-start: colOne;
        grid-column-end: end;
    }

    #sidebar {
        display: none;
    }

    #posts-container {
        grid-column-start: colOne;
        grid-column-end: end;
        display: grid;
        grid-template-columns: 10% 80% 10%;

    }

}



@media only screen and (min-width: 701px) {
    #pfp {
        min-height: 110px;
        min-width: 110px;
        max-width: 180px;
        max-height: 180px;
    }

    #pfp img {
        max-width: 100%;
        max-height: 100%;
    }

    #profileHeader {
        grid-column-start: colOne;
        grid-column-end: end;
    }
}