body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#navbar-logo {
    object-fit: contain;
    width: 12vw;
}

svg {
    width: 30px;
    height: 30px;
}

.navbar-brand {
    margin: auto;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
    padding-top: 20px;
    width: 90vw;
    margin: auto;
    grid-template-areas: 
        "image image title title"
        "image image location location"
        "description description description description"
        ". save cancel .";
}

#image {
    grid-area: image;
}

#title {
    grid-area: title;
}

#location {
    grid-area: location;
}

#description {
    grid-area: description;
}

#save_button {
    grid-area: save;
}

#cancel_button {
    grid-area: cancel;
}