body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.mapPointer {
    width: 80px;
    height: 80px;
    transform: translateY(60px);
    margin-left: 20px;
}

.location {
    font-size: 30px;
    transform: translateX(100px);
    font-weight: bold;
    margin-bottom: 20px;
}

.Bell {
    width: 80px;
    height: 80px;
    transform: translateY(30px);
}

svg {
    width: 100px;
    height: 100px;
}

.card{
    border-radius: 30px;
}