#navbar {
    box-shadow: none;
}

body {
    display: grid;
    grid-template-columns: [colOne] 15% [colTwo] auto [colThree] auto [colFour] auto [colFive] auto [colSix] auto;
    grid-template-rows: [rowOne] auto [rowTwo] auto [rowThree] auto [rowFour] auto [rowFive] auto [rowSix] auto [rowSeven] auto [rowEight] auto;
}

#navbar {
    grid-column-end: end;
    grid-column-start: colOne;
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
}

#profileHeader {
    grid-row-start: rowTwo;
    grid-row-end: rowFour;
    padding: 3%;
}

#pfp {
    background-color: aquamarine;
    padding: 0;
    border-radius: 50%;
    display: inline;
}

#pfp img {
    margin: 20px;
    border-radius: 50%;
    float: left;
}

#text {
    margin-top: 5%;
    float: left;
    width: 50%;
}

#text > * {
    margin: 0;
}

#text p {
    padding-top: 30px;
}

#sidebar {
    grid-column-start: colOne ;
    grid-column-end: colTwo;
    grid-row-start: rowTwo;
    grid-row-end: end;
    background: rgb(202,152,251);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(202,152,251,1) 35%, rgba(202,152,251,1) 100%);
    background-size: 100vw;
    height: 100vh;
    position: sticky;
    text-align: center;
    width: 100%;
}

#sidebar ul {
    width: auto;
    margin: 0;
    padding: 0;
}

#sidebar ul > li {
    list-style: none;
    font-size: 20pt;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
    color: white;
}

#sidebar ul > li:first-of-type {
    margin-top: 30px;
}

#bottomNav svg {
    width: 45px;
    height: 45px;
    color: black;
}

@media only screen and (max-width: 700px) {
    #pfp {
        height: 110px;
        width: 110px;
    }

    #pfp img {
        max-width: 110px;
        max-height: 100px
    }

    #profileHeader {
        grid-column-start: colOne;
        grid-column-end: end;
    }

    #sidebar {
        display: none;
    }
}

@media only screen and (min-width: 701px) {
    #pfp {
        min-height: 110px;
        min-width: 110px;
        max-width: 180px;
        max-height: 180px;
    }

    #pfp img {
        max-width: 100%;
        max-height: 100%;
    }

    #profileHeader {
        grid-column-start: colFour;
        grid-column-end: end;
    }
}